@charset "utf-8";

label {
    color: #b5f5ff;
}

input:valid {
    box-shadow: none;
    outline: 1px solid black;
}

input:focus, select:focus {
    background-color: yellow;
}

input:invalid {
    color: red;
    box-shadow: 0px 0px 5px red;
    outline: 1px solid red;
}